# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.04Balls.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Personal\GameProyects\Curso\04Balls\.idea\.idea.04Balls\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
